{% extends "dashboard.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe width="928" height="522" src="https://www.youtube.com/embed/Nvm7JzhUpc4" title="Curso de fundamentos de Python - COMPLETO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>

{%endblock %}